USE [master]
GO
/****** Object:  Database [YORDERDb]    Script Date: 06.06.2025 1:58:28 ******/
CREATE DATABASE [YORDERDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YORDERDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\YORDERDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YORDERDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\YORDERDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YORDERDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YORDERDb]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 06.06.2025 1:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NOT NULL,
	[ClientPhone] [nvarchar](50) NOT NULL,
	[Materials] [nvarchar](max) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[UserId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 06.06.2025 1:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 06.06.2025 1:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.06.2025 1:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [ClientName], [ClientPhone], [Materials], [Photo], [StartDate], [EndDate], [Description], [Comment], [Adress], [PaymentMethodId], [Amount], [UserId], [StatusId]) VALUES (1, N'Иван Иванов', N'+79001112233', N'Дерево, клей', 0x, CAST(N'2025-06-01' AS Date), CAST(N'2025-06-10' AS Date), N'Стол ручной работы', N'Уточнить размеры', N'ул. Ленина, 1', 1, CAST(5000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Order] ([Id], [ClientName], [ClientPhone], [Materials], [Photo], [StartDate], [EndDate], [Description], [Comment], [Adress], [PaymentMethodId], [Amount], [UserId], [StatusId]) VALUES (2, N'Ольга Смирнова', N'+79002223344', N'Металл, краска', 0x, CAST(N'2025-06-02' AS Date), CAST(N'2025-06-12' AS Date), N'Металлическая табличка', NULL, N'ул. Советская, 3', 2, CAST(1500.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[Order] ([Id], [ClientName], [ClientPhone], [Materials], [Photo], [StartDate], [EndDate], [Description], [Comment], [Adress], [PaymentMethodId], [Amount], [UserId], [StatusId]) VALUES (3, N'Сергей Петров', N'+79003334455', N'Пластик', 0x, CAST(N'2025-06-03' AS Date), CAST(N'2025-06-15' AS Date), N'Вывеска на магазин', N'Цвет: синий', N'ул. Победы, 7', 1, CAST(2500.00 AS Decimal(18, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([Id], [Name]) VALUES (1, N'Картой')
INSERT [dbo].[PaymentMethod] ([Id], [Name]) VALUES (2, N'Наличными')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'В процессе')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Готов')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Login], [Password]) VALUES (1, N'Вероника', N'1', N'1')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentMethod]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
USE [master]
GO
